@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-purple {
    background: #000a1d;
}

.bg-purple-light {
    /* background: linear-gradient(rgba(0, 10, 31, 1), rgba(0, 12, 47, 1)); */
    background: linear-gradient(rgb(0, 16, 49), rgb(0,10,29));
}



.grid-bg {
    background-image: url("../images/Grid.png");
}


.nav-mobile-bg {
    background: 
        url("../images/mobile-bg-nav.png") no-repeat center center / cover, 
        linear-gradient(to bottom, #000A1F, #3CA8DE);
        background-repeat: no-repeat;
        background-size: cover; 
}


.vector1 {
    background-image: url("../images/vector1.png");
    background-size: cover; 
    background-repeat: no-repeat;
}
/* will pop when it react tablet below  */
@media (max-width: 768px) {
    .vector1 {
        background-image: url("../images/vector2-mobile.png");
    }
}


.gray-custom-bg {
    background: rgba(41, 39, 56, 1)
}
.gray-custom-dark-bg {
    background: rgba(35, 35, 49, 1);
}
