@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-purple {
    background: linear-gradient(90deg, #000A1F, #000C2F);
}


.grid-bg {
    background-image: url("/Grid.png");
}
.vector1 {
    background-image: url("/vector1.png");
}
